body{
    background-color: #396da5;
    color: #ffffff;
    overflow: hidden;
}
.areaDeTrabalho{
    width: 100%;
    height: 95vh;
}
.barraDeTarefas{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: #d6d3ce;
    align-items: center;
}
/* VOLUME DO SOM */
.areaDeTrabalho__volume{
    bottom: 4vh;
    right: 80px;
    position: absolute;
    width: 60px;
    height: 150px;
    background: #d6d3ce;
    display: none;
    justify-content: center;
    align-items: center;
}

.areaDeTrabalho__volume .rangeValor{
    font-size: 12px;
    color: #000;
}

.areaDeTrabalho__volume--controle{
    transform: rotate(-90deg);
    height: 3px;
}
.areaDeTrabalho__volume--controle::-webkit-slider-runnable-track{
    background: #b4b2ae;
    height: 3px;
}


/************************/

.barraDeTarefas__menuInicia{
    font-size: 14px;
    padding: 7px 10px;
    font-weight: 900;
}
.barraDeTarefas__menurapido ul{
    display: flex;
    margin-left: 2rem;
}
.barraDeTarefas__menurapido ul li{
    margin-left: 15px;
    color: #000;
}

.barraDeTarefas__menurapido ul li img{
    width: 20px;
}
.barraDeTarefas__relogioESom ul{
    display: flex;
    align-items: center;
    position: absolute;
    top: 95.1vh;
    right: 10px;
    width: 100px;
    border: 1px solid #808080;
    padding: 7px 0;
    box-shadow: 1px 1px 1px rgb(143, 143, 143) inset;
}
.barraDeTarefas__relogioESom li{
    color: #000;
}
.barraDeTarefas__relogioESom ion-icon{
    color: #2b2800;
    font-size: 20px;
}
.barraDeTarefas__relogioESom li:nth-child(1){
    margin-right: 20px;
}
.menuIniciar{
    z-index: 1;
    position: absolute;
    bottom: 4vh;
    display:none;
    width: 300px;
    height: 500px;
    background-color: #d6d3ce;
}
.menuIniciar__faixa{
    width: 45px;
    height: 100%;
    border: 3px solid #ffffff;
    background: linear-gradient(#00000b,#0001fa);
}
.menuIniciar__faixa___texto{
    transform: rotate(-90deg);
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    right: 42%;
    top: 65%;
    gap: 5px;
   }
.menuIniciar__faixa___texto .texto1,.texto3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18pt;
}
.menuIniciar__faixa___texto .texto2{
    font-size: 16pt;
}
.menuIniciar__faixa___texto .texto2{
  margin-top: 5px;
}


.barraDeTarefas__menuInicia{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px .1px rgb(1, 1, 1) inset;
}

.barraDeTarefas__menuInicia img{
    width: 1.7rem;
}
.menuIniciar__listaPrograma{
    width: calc(300px - 45px);
    height: 100%;
    color: #000;
}
.menuIniciar__listaPrograma ul li{
    width: 100%;
    height: calc(500px / 8);
    font-size: 20px;
    padding-left: .5rem;
    gap: 1rem;
    cursor: row-resize;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: alias;
}
.menuIniciar__listaPrograma ul li a{
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000;
    text-decoration: none;
    gap: 10px;
    cursor: alias;
}
.menuIniciar__listaPrograma ul li:hover{
    background: #09246b;
    color: #ffffff;
}
.menuIniciar__listaPrograma ul li:nth-child(1){
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.178);
}
.menuIniciar__listaPrograma ul li img{
    width: 2.7rem;
}
.menuIniciar__listaPrograma ul li:nth-child(7){
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.178);
}

.li_vazio{
    display: none;
}

/* volume */
.volume img{
    width: 1.5rem;
}

/*
icones area de trabalho
*/
.menuDocumentos{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}